@import "tailwindcss";

@font-face {
    font-family: saurav;
    src: url(./Fonts/font.ttf);
}

@font-face {
    font-family: saurav1;
    src: url(./Fonts/font1.ttf);
}


.text{
    font-family: saurav;
}

.font{
    font-family: saurav1;
}